
# Gradle 임시 파일
.gradle/
build/

# IDE 설정
.idea/
*.iml

# 로그 및 에러 파일
*.log
.kotlin/

gradle.properties
application.properties
application-dev.properties
src/test/resources/application-test.yml
src/test/resources/schema.sql

